In [1]:
import pandas as pd
import numpy as np

In [29]:
# chargement des données
data = pd.read_csv('Data-V1.txt', index_col=0, dtype='Int64')
data.head(10)

,no_etude_1,GroupeAppartenance,Genre,Age,OrientSex,EtatCivil,enfants_b,enfants_nb,Scolarite,prof_emploi,...,vio9_3_90,vio9_3_91,vio9_3_92,vio9_3_93,vio9_3_94,vio9_3_95,vio9_3_96,vio9_3_97,vio9_3_98,vio9_3_99
0,71,<NA>,0,53,<NA>,1,0,0,2,1,...,0,0,0,0,0,0,0,0,0,0
1,71,<NA>,0,68,<NA>,2,2,0,2,0,...,0,0,0,0,0,0,0,0,0,0
2,71,<NA>,1,65,<NA>,2,3,0,3,1,...,0,0,0,0,0,0,0,0,0,0
3,71,<NA>,0,68,<NA>,4,3,0,4,0,...,0,0,0,0,0,0,0,0,0,0
4,72,<NA>,1,37,<NA>,1,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
5,73,<NA>,0,35,<NA>,2,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
6,73,<NA>,1,53,<NA>,2,1,0,<NA>,0,...,0,0,0,0,0,0,0,0,0,0
7,73,<NA>,0,20,<NA>,1,0,0,2,1,...,0,0,0,0,0,0,0,0,0,0
8,73,<NA>,0,53,<NA>,4,3,0,6,1,...,0,0,0,0,0,0,0,0,0,0
9,611,0,1,25,<NA>,6,0,<NA>,3,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
data.iloc[:,503:]

,ad10_00,ad10_01,ad10_02,ad10_03,ad10_04,ad10_05,ad10_06,ad10_07,ad10_08,ad10_09,...,vio9_3_90,vio9_3_91,vio9_3_92,vio9_3_93,vio9_3_94,vio9_3_95,vio9_3_96,vio9_3_97,vio9_3_98,vio9_3_99
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,0,0,0,0,0,0,0,0,0,0
582,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,0,0,0,0,0,0,0,0,0,0
583,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,0,0,0,0,0,0,0,0,0,0
584,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,0,0,0,0,0,0,0,0,0,0
585,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,0,0,0,0,0,0,0,0,0,0

In [31]:
# percentage of missing values
pct_nan = pd.Series(data.isna().sum().sort_values(ascending=False) / 586.0)
pct_nan

H4_annee          0.998294
H4_duree          0.998294
abus3_ss          0.996587
med6_prise        0.996587
Methode_deces3    0.996587
                    ...
rel10_29          0.000000
rel10_28          0.000000
rel10_27          0.000000
rel10_26          0.000000
no_etude_1        0.000000
Length: 18803, dtype: float64

In [32]:
for pct in np.arange(0,1,0.1):
    print('pct {} = {}'.format(pct,sum(pct_nan >= pct)))

pct 0.0 = 18803
pct 0.1 = 3007
pct 0.2 = 2447
pct 0.30000000000000004 = 1744
pct 0.4 = 1409
pct 0.5 = 1198
pct 0.6000000000000001 = 279
pct 0.7000000000000001 = 207
pct 0.8 = 135
pct 0.9 = 103

In [33]:
# suppression des variables avec plus de 90% de valeurs nulles ?

In [34]:
# imputation avec l'algorithme des K-moyennes
from sklearn.impute import KNNImputer

In [35]:
# les voisins les plus proches ont une plus grande influence que les voisins les plus éloignés.
# on prend les 5 voisins les plus proches. Paramètre à faire varier.
knn = KNNImputer(n_neighbors=5, weights='distance')

In [36]:
data_trans = pd.DataFrame(np.round(knn.fit_transform(data)), columns=data.columns, dtype='Int64')
data_trans

,no_etude_1,GroupeAppartenance,Genre,Age,OrientSex,EtatCivil,enfants_b,enfants_nb,Scolarite,prof_emploi,...,vio9_3_90,vio9_3_91,vio9_3_92,vio9_3_93,vio9_3_94,vio9_3_95,vio9_3_96,vio9_3_97,vio9_3_98,vio9_3_99
0,71,0,0,53,1,1,0,0,2,1,...,0,0,0,0,0,0,0,0,0,0
1,71,0,0,68,1,2,2,0,2,0,...,0,0,0,0,0,0,0,0,0,0
2,71,1,1,65,1,2,3,0,3,1,...,0,0,0,0,0,0,0,0,0,0
3,71,0,0,68,1,4,3,0,4,0,...,0,0,0,0,0,0,0,0,0,0
4,72,1,1,37,1,1,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581,612,0,1,49,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
582,41,2,1,37,1,2,1,0,7,0,...,0,0,0,0,0,0,0,0,0,0
583,41,2,1,65,1,2,3,3,7,0,...,0,0,0,0,0,0,0,0,0,0
584,41,2,1,32,1,4,1,0,5,0,...,0,0,0,0,0,0,0,0,0,0
585,41,2,1,46,1,4,2,0,2,1,...,0,0,0,0,0,0,0,0,0,0